{% load static %}
<html>
    <head>
        <title>Jorheay</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>  
    <body>
        <div class="page-header">
            <a class="name" href="/">Django Blog Jorheay
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            </a>
        </div>

        <div>
        <a href="{% url 'post_list' %}" class="name">DJANGO GIRLS
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        <a> </a>
        <a> </a>
        <a> </a>
        <a href="{% url 'show_pruebas' %}" class="name">REGISTROS
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        </div>
        <br><br>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>     
</html>



