<html>
    <head>
        <title>Jorheay</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>Publicado: 07.08.2022, 04:56</p>
            <h2><a href="">Mi primer publicacion</a></h2>
            <p>Nada es verdad, todo está permitido.</p>
        </div>
        <div>
            <p>Publicado: 07.08.2022, 04:56</p>
            <h2><a href="">Mi segunda publicacion.</a></h2>
            <p>No. Try not. Do… or do not. There is no try.</p>
        </div>
    </body>
</html>